:root {
	--color-1: #041853;
	--color-2: #dae8e8;
	--color-3: #348587;
}

.btn:hover {
	background-color: var(--color-3) !important;
}
* {
	box-sizing: border-box;
	border-width: 2px black;
}

.btn {
	border: 3px solid var(--color-1) !important;
	color: var(--color-1) !important;
	font-weight: bolder !important;
}

.main-container {
	background-color: var(--color-2);
}

i {
	color: var(--color-1) !important;
}

.active1 {
	background-color: var(--color-3) !important;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	background-image: url(/img/background.png);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-size: auto;
	height: 100%;
	background-position: center center;

	min-height: 100vh;
}

.container {
	background-color: var(--color-2);
}

/* sidebar */

.side-bar {
	width: 100px !important;
	height: 200px;
	align-items: center;
}

.side-bar a {
	border: solid px var(--color-1);
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: auto;
	color: var(--color-1);
}

/* main-container */

.main-container {
	border: solid 2px var(--color-1);
}

.banner {
	height: 140px;
	padding-top: 40px;
	text-align: center;
}

.banner h2 {
	font-size: 50px;
	font-weight: bolder;
}

/* left-column */

.group-nav .btn {
	margin-right: 15px;
	margin-left: 15px;
}

.btn.mid {
	width: 100px !important;
}

input {
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border: 2px solid var(--color-1);
	vertical-align: middle;
	margin-right: 10px;
}

.cls-list {
	position: relative;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: var(--color-2);
	width: 350px;
	height: 520px;
	border: solid 4px var(--color-1);
	padding: 10px;
}
.class{
	display: none;
}

.class.btn {
	margin-bottom: 10px !important;
}

.member-list{
	display : none ;

}

.member{
	position: relative;
	margin-bottom: 10px;
	height: 50px;
}

.member input{
	position: absolute;
	left: 10px;
	width: 20px;
	height: 20px;
}

.add-member {
	padding: 10px;
}
.add-member input{
	margin-left: 5px;
	margin-right: 5px;
}

.add-member .btn{
	height: 40px !important;
	text-align: center;
	line-height: 100%;
}



/* Table */

table {
	text-align: center;
	border-collapse: collapse;
	border: 3px solid var(--color-1);
}

th {
	width: 120px !important;
	height: 45px;
	border-collapse: collapse;
	border: 2px solid var(--color-1);
}

td {
	width: auto;
	height: 45px;
	border-collapse: collapse;
	border: 1px solid red;
}

/* right-col */

.r-col .btn {
	margin-bottom: 20px;
	width: 80px;
	height: 80px;
}

.F{
	background-color: #d8afc6;
}

.S{
	background-color: #86A8E7;
}

.normal{
	background-color:var(--color-2) !important;
}
